.table .form-control {
    height:21px;
    width: 70px;
    line-height: 21px;
    padding: 0 5px;
}

.table .action-button {
    border-top: 0px;
}

.prediction-value:hover, .expense-value:hover {
    background-color: #F5F5F5;
}

.prediction-value, .expense-value {
    cursor: pointer;
}

.action-button-cancel {
    color: #D9534F;
}

.action-button-cancel:hover {
    color: #D9534F;
}

.action-button-cancel:visited {
    color: #D9534F;
}

.action-button-save {
    color: #009933;
}

.action-button-save:hover {
    color: #009933;
}

.action-button-save:visited {
    color: #009933;
}
