.table .form-control {
    height:21px;
    width: 130px;
    line-height: 21px;
    padding: 0 5px;
}

.table .action-button {
    border-top: 0px;
}

.prediction-value:hover, .prediction-name:hover, #tablet-economies:hover {
    background-color: #F5F5F5;
}

.prediction-value, .prediction-name, #tablet-economies {
    cursor: pointer;
}

.action-button-cancel {
    color: #D9534F;
}

.action-button-cancel:hover {
    color: #D9534F;
}

.action-button-cancel:visited {
    color: #D9534F;
}

.action-button-save {
    color: #009933;
}

.action-button-save:hover {
    color: #009933;
}

.action-button-save:visited {
    color: #0099s33;
}

.red-link {
    color: #D43F3A;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
    padding: 3px;
}

#remember-front, #remember-label-front {
    color: #D4D4D4;
}

#remember-checkbox-front {
    float: left;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
