<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
	RewriteEngine On
	
        RewriteCond %{HTTP_HOST} !^www.moneytablet.com$ [NC]
        RewriteRule ^(.*)$ http://www.moneytablet.com/$1 [L,R=301]
</IfModule>
